@import "tailwindcss";
/* @import "tw-animate-css"; */
@import "shadcn/tailwind.css";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Colors */
  --color-brand-100: #ea6365;
  --color-brand: #fa7275;

  --color-red: #ff7474;
  --color-error: #b80000;
  --color-green: #3dd9b3;
  --color-blue: #56b8ff;
  --color-pink: #eea8fd;
  --color-orange: #f9ab72;

  --color-light-100: #333f4e;
  --color-light-200: #a3b2c7;
  --color-light-300: #f2f5f9;
  --color-light-400: #f2f4f8;

  --color-dark-100: #04050c;
  --color-dark-200: #131524;

  /* Fonts */
  --font-poppins: var(--font-poppins);

  /* Radius */
  --radius: 12px;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply scroll-smooth;
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-white text-dark-200 min-h-screen;
    @apply bg-background text-foreground;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #fa7275;
  }

  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }

  .recharts-responsive-container {
    height: initial;
  }
  :root {
    --radius: 0.5rem;
  }
}

@keyframes caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  50% {
    opacity: 0;
  }
}

@utility animate-caret-blink {
  animation: caret-blink 1.25s ease-out infinite;
}

@utility shadow-drop-1 {
  box-shadow: 0px 10px 30px 0px rgba(66, 71, 97, 0.1);
}

@utility shadow-drop-2 {
  box-shadow: 0 8px 30px 0 rgba(65, 89, 214, 0.3);
}

@utility shadow-drop-3 {
  box-shadow: 0 8px 30px 0 rgba(65, 89, 214, 0.1);
}

@layer utilities {
  /* Typography */
  .h1 {
    @apply text-[34px] leading-10.5 font-bold;
  }
  .h2 {
    @apply text-[24px] leading-9 font-bold;
  }
  .h3 {
    @apply text-[20px] leading-7 font-semibold;
  }
  .h4 {
    @apply text-[18px] leading-5 font-medium;
  }
  .h5 {
    @apply text-[16px] leading-6 font-semibold;
  }
  .subtitle-1 {
    @apply text-[16px] leading-6 font-medium;
  }
  .subtitle-2 {
    @apply text-[14px] leading-5 font-semibold;
  }
  .body-1 {
    @apply text-[16px] leading-6 font-normal;
  }
  .body-2 {
    @apply text-[14px] leading-5 font-normal;
  }
  .button {
    @apply text-[14px] leading-5 font-medium;
  }
  .caption {
    @apply text-[12px] leading-4 font-normal;
  }
  .overline {
    @apply text-[10px] leading-3.5 font-normal;
  }

  /* Helper Classes */
  .container {
    @apply mx-auto max-w-7xl px-5;
  }
  .primary-btn {
    @apply bg-brand hover:bg-brand-100 transition-all rounded-full text-[14px] leading-5 font-medium;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  /* Sahdcn Overrides */
  .shad-no-focus {
    @apply outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 cursor-pointer;
  }
  .shad-input {
    @apply border-none shadow-none p-0 outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 placeholder:text-light-200 text-[14px] leading-5 font-normal;
  }

  .shad-form-item {
    @apply flex h-19.5 flex-col justify-center rounded-xl border border-light-300 px-4 shadow-drop-1;
  }
  .shad-form-label {
    @apply text-light-100 pt-2 text-[14px] leading-5 font-normal w-full;
  }
  .shad-form-message {
    @apply text-red text-[14px] leading-5 font-normal ml-4;
  }
  .shad-alert-dialog {
    @apply space-y-4 max-w-[95%] sm:w-fit rounded-xl md:rounded-[30px] px-4 md:px-8 py-10 bg-white outline-none;
  }
  .shad-submit-btn {
    @apply bg-brand text-[14px] leading-5 font-medium hover:bg-brand-100 transition-all rounded-full cursor-pointer;
  }
  .shad-otp {
    @apply w-full flex gap-1 sm:gap-2 justify-between;
  }
  .shad-otp-slot {
    @apply text-[40px] font-medium rounded ring-brand shadow-drop-1! text-brand-100 justify-center flex border border-light-300 size-12 md:size-16 gap-5;
  }

  .shad-sheet {
    @apply pt-0 bg-white! hover:bg-neutral-100! hover:text-neutral-900!;
  }
  .shad-sheet button,
  .shad-dialog button {
    @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none outline-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0;
  }
  .shad-dropdown-item {
    @apply cursor-pointer focus:bg-neutral-100! focus:text-neutral-900! hover:bg-neutral-100! hover:text-neutral-900!;
  }
  .shad-dialog {
    @apply rounded-[26px] w-[90%]! max-w-100 px-6 py-8 bg-white!;
  }
  .shad-chart-title {
    @apply text-white;
  }
  .shad-select-item {
    @apply cursor-pointer focus:bg-neutral-100! focus:text-neutral-900! hover:bg-neutral-100! hover:text-neutral-900!;
  }

  /* Sidebar & MobileNavigation */
  .nav-icon {
    @apply w-6 filter invert opacity-25;
  }
  .nav-icon-active {
    @apply invert-0 opacity-100;
  }

  /* Style Classes */

  /* Root Layout */
  .main-content {
    @apply h-full flex-1 overflow-auto bg-light-400 px-5 py-7 sm:mr-7 sm:rounded-[30px] md:mb-7 md:px-9 md:py-10;
  }

  /* Dashboard */
  .dashboard-container {
    @apply mx-auto grid max-w-7xl grid-cols-1 gap-6 md:grid-cols-2 xl:gap-10;
  }
  .dashboard-summary-list {
    @apply mt-6 grid grid-cols-1 gap-4 xl:mt-10 xl:grid-cols-2 xl:gap-9;
  }
  .dashboard-summary-card {
    @apply relative mt-6 rounded-2xl bg-white p-5 transition-all hover:scale-105;
  }
  .summary-type-icon {
    @apply absolute -left-3 -top-6.25 z-10 w-47.5 object-contain;
  }
  .summary-type-size {
    @apply text-[18px] leading-5 font-medium relative z-20 w-full text-right;
  }
  .summary-type-title {
    @apply text-[16px] leading-6 font-semibold relative z-20 text-center;
  }
  .dashboard-recent-files {
    @apply h-full rounded-2xl xl:h-163.5 overflow-auto bg-white p-5 xl:p-7;
  }
  .recent-file-details {
    @apply flex w-full justify-between items-center;
  }
  .recent-file-name {
    @apply text-[14px] leading-5 font-semibold line-clamp-1 w-full text-light-100 sm:max-w-50 lg:max-w-62.5 xl:max-w-72;
  }
  .recent-file-date {
    @apply text-[14px] leading-5 font-normal text-light-100/80;
  }
  .empty-list {
    @apply text-[16px] leading-6 font-normal mt-10 text-center text-light-200;
  }

  /* Type page */
  .page-container {
    @apply mx-auto flex w-full max-w-7xl flex-col items-center gap-8;
  }
  .total-size-section {
    @apply flex mt-2 flex-col justify-between sm:flex-row sm:items-center;
  }
  .file-list {
    @apply grid w-full gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
  }
  .sort-container {
    @apply mt-5 flex items-center sm:mt-0 sm:gap-3;
  }

  /* ActionsDropdown */
  .rename-input-field {
    @apply text-[14px] leading-5 font-normal outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 h-13 w-full rounded-full border px-4 shadow-drop-1;
  }
  .delete-confirmation {
    @apply text-center text-light-100;
  }
  .delete-file-name {
    @apply font-medium text-brand-100;
  }
  .modal-cancel-button {
    @apply h-13 flex-1 rounded-full bg-white text-light-100 hover:bg-transparent shadow cursor-pointer;
  }
  .modal-submit-button {
    @apply bg-brand hover:bg-brand-100 transition-all rounded-full text-[14px] text-white leading-5 font-medium mx-0! h-13 w-full flex-1 cursor-pointer;
  }

  /* ActionsModalContent */
  .file-details-thumbnail {
    @apply mb-1! flex items-center gap-3 rounded-xl border border-light-200/40 bg-light-400/50 p-3;
  }
  .file-details-label {
    @apply text-[14px] leading-5 font-normal w-[30%] text-light-100;
  }
  .file-details-value {
    @apply text-[14px] leading-5 font-semibold flex-1;
  }

  .share-wrapper {
    @apply mt-2! space-y-2;
  }
  .share-input-field {
    @apply text-[14px] leading-5 font-normal outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 h-13 w-full rounded-full border px-4 shadow-drop-1 border-neutral-200;
  }
  .share-remove-user {
    @apply rounded-full bg-transparent text-light-100 shadow-none hover:bg-transparent;
  }
  .remove-icon {
    @apply aspect-square rounded-full;
  }

  /* AuthForm */
  .auth-form {
    @apply flex max-h-200 w-full max-w-145 flex-col justify-center space-y-6 transition-all lg:h-full lg:space-y-8;
  }
  .form-title {
    @apply text-[34px] leading-10.5 font-bold text-center text-light-100 md:text-left;
  }
  .form-submit-button {
    @apply bg-brand hover:bg-brand-100 transition-all rounded-full text-[14px] leading-5 font-medium h-16.5 text-white cursor-pointer;
  }
  .error-message {
    @apply text-[14px] leading-5 font-normal mx-auto w-fit rounded-xl bg-error/5 px-8 py-4 text-center text-error;
  }

  /* Card */
  .file-card {
    @apply flex cursor-pointer flex-col gap-6 rounded-[18px] bg-white p-5 shadow-sm transition-all hover:shadow-drop-3;
  }
  .file-card-details {
    @apply flex flex-col gap-2 text-light-100;
  }

  /* Chart */
  .chart {
    @apply flex items-center rounded-2xl bg-brand p-2 text-white md:flex-col xl:flex-row border-none! gap-1!;
  }
  .chart-container {
    @apply mx-auto aspect-square w-45 text-white xl:w-50;
  }
  .polar-grid {
    @apply first:fill-white/20 last:fill-brand;
  }
  .chart-details {
    @apply w-full flex-1 items-start px-3 py-0 sm:px-5 lg:p-3 xl:pr-5 gap-1!;
  }
  .chart-total-percentage {
    @apply fill-white text-4xl font-bold;
  }
  .chart-title {
    @apply text-[20px] leading-7 font-bold! text-center xl:text-left;
  }
  .chart-description {
    @apply text-[16px] leading-6 font-medium xl:mt-2 w-full text-white/70 text-center xl:text-left;
  }

  /* FileUploader */
  .uploader-button {
    @apply bg-brand hover:bg-brand-100 transition-all rounded-full text-[14px] leading-5 font-medium h-13 gap-2 px-10 shadow-drop-1 text-white! cursor-pointer!;
  }
  .uploader-preview-list {
    @apply fixed bottom-10 right-10 z-50 flex size-full h-fit max-w-120 flex-col gap-3 rounded-2xl bg-white p-7 shadow-drop-3;
  }
  .uploader-preview-item {
    @apply flex items-center justify-between gap-3 rounded-xl p-3 shadow-drop-3;
  }
  .preview-item-name {
    @apply text-[14px] leading-5 font-semibold mb-2 line-clamp-1 max-w-75;
  }

  .error-toast {
    @apply bg-red rounded-md!;
  }

  /* Header */
  .header {
    @apply hidden items-center justify-between gap-5 p-5 sm:flex lg:py-7 xl:gap-10;
  }
  .header-wrapper {
    @apply flex items-center justify-center min-w-fit gap-4;
  }
  .sign-out-button {
    @apply flex items-center justify-center h-13 min-w-13.5 rounded-full bg-brand/10 p-0 text-brand shadow-none transition-all hover:bg-brand/20 cursor-pointer;
  }

  /* Mobile Navigation */
  .mobile-header {
    @apply flex h-15 justify-between items-center px-6 py-12 sm:hidden;
  }
  .header-user {
    @apply my-3 flex items-center gap-2 rounded-full px-2 py-4 text-light-100 sm:justify-center sm:bg-brand/10 lg:justify-start lg:p-3;
  }
  .header-user-avatar {
    @apply aspect-square w-10 rounded-full object-cover;
  }
  .mobile-nav {
    @apply text-[16px] leading-6 font-semibold flex-1 gap-1 text-brand;
  }
  .mobile-nav-list {
    @apply flex flex-1 flex-col gap-4;
  }
  .mobile-nav-item {
    @apply flex text-light-100 gap-4 w-full justify-start items-center text-[16px] leading-6 font-semibold px-6 h-13 rounded-full;
  }
  .mobile-sign-out-button {
    @apply text-[16px] leading-6 font-semibold flex h-13 w-full items-center gap-4 rounded-full bg-brand/10 px-6 text-brand shadow-none transition-all hover:bg-brand/20;
  }

  /* OTP Modal */
  .otp-close-button {
    @apply absolute -right-1 -top-7 cursor-pointer sm:-right-2 sm:-top-4;
  }

  /* Search */
  .search {
    @apply relative w-full md:max-w-120;
  }
  .search-input-wrapper {
    @apply flex h-13 flex-1 items-center gap-3 rounded-full px-4 shadow-drop-3;
  }
  .search-input {
    @apply text-[14px] leading-5 font-normal outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 placeholder:text-[16px] placeholder:leading-6 placeholder:font-normal w-full border-none p-0 shadow-none placeholder:text-light-200;
  }
  .search-result {
    @apply absolute left-0 top-16 z-50 flex w-full flex-col gap-3 rounded-2xl bg-white p-4;
  }
  .empty-result {
    @apply text-[14px] leading-5 font-normal text-center text-light-100;
  }

  /* Sidebar */
  .sidebar {
    @apply hidden h-screen w-22.5 flex-col overflow-auto px-5 py-7 sm:flex lg:w-70 xl:w-81.25;
  }
  .sidebar-nav {
    @apply text-[16px] leading-6 font-semibold mt-9 flex-1 gap-1 text-brand;
  }
  .sidebar-nav-item {
    @apply flex text-light-100 gap-4 rounded-xl lg:w-full justify-center lg:justify-start items-center text-[16px] leading-6 font-semibold lg:px-7.5 h-13 lg:rounded-full;
  }
  .sidebar-user-info {
    @apply mt-4 flex items-center justify-center gap-2 rounded-full bg-brand/10 p-1 text-light-100 lg:justify-start lg:p-3;
  }
  .sidebar-user-avatar {
    @apply aspect-square w-10 rounded-full object-cover;
  }

  .shad-active {
    @apply bg-brand text-white shadow-drop-2;
  }

  /* Sort */
  .sort-select {
    @apply outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 h-11 w-full rounded-lg border-transparent bg-white shadow-sm! sm:w-52.5;
  }
  .sort-select-content {
    @apply shadow-drop-3! bg-white! text-black! border-none;
  }

  /* Thumbnail */
  .thumbnail {
    @apply flex items-center justify-center size-12.5 min-w-12.5 overflow-hidden rounded-full bg-brand/10;
  }
  .thumbnail-image {
    @apply size-full! object-cover object-center;
  }
}
